.body-container { width: 1024px; height: 780px; margin: 0 auto 0 auto; background-color: white; border-radius: 5px; filter: drop-shadow(0 0 6px darkgray); }

* { box-sizing: border-box; }

body { background-color: lightgray; font-family: "Roboto", sans-serif; }

main { display: flex; }

html, body { height: 100%; }

section { width: 100%; }

h1, h2, h3, p { margin: 0; }

.horizontal-navigation { height: 90px; display: flex; padding: 0 80px 0 20px; flex-direction: row; align-items: center; justify-content: space-between; background-color: #020203; filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }

.horizontal-navigation-image { height: 60px; }

.horizontal-navigation-image:hover { filter: drop-shadow(0 0 5px red); }

.horizontal-navigation-menu { color: white; text-decoration: none; font-weight: 500; font-size: 24px; }

.horizontal-navigation-menu:hover { filter: drop-shadow(0 0 5px white); }

.vertical-navigation { display: flex; flex-direction: column; background-color: #020203; width: 100px; height: 690px; justify-content: space-around; align-items: center; }

.vertical-navigation-images { display: flex; flex-direction: column; }

.vertical-navigation-image { margin: 10px; }

.vertical-navigation-image:hover { filter: drop-shadow(0 0 5px white); }

.vertical-navigation-copyright { color: white; text-decoration: none; transform: rotate(-90deg); font-size: 12px; font-weight: 500; width: 150px; text-align: right; }

.vertical-navigation-copyright:hover { filter: drop-shadow(0 0 5px white); }

.error { display: flex; align-items: center; flex-direction: column; color: #ff0101; }

.error-code { font-weight: 600; font-size: 70px; margin-top: 200px; }

.error-message { font-weight: 300; font-size: 24px; }

.loader { display: flex; align-items: center; flex-direction: column; }

.loader-code { font-weight: 600; font-size: 70px; margin-top: 200px; }

.loader-message { font-weight: 300; font-size: 24px; padding: 0 100px 0 100px; text-align: center; }

.dashboard { padding: 40px; }

.dashboard-greeting h1 { font-weight: 500; font-size: 48px; }

.dashboard-greeting span { color: #ff0101; }

.dashboard-greeting p { padding-top: 20px; font-weight: 400; font-size: 18px; }

.dashboard-graphs { height: 450px; display: flex; flex-direction: row; justify-content: space-between; margin-top: 40px; }

.dashboard-graphs-charts { height: 100%; width: 70%; }

.dashboard-graphs-charts-activity { background-color: #fbfbfb; border-radius: 5px; }

.dashboard-graphs-keydata-card { display: flex; align-items: center; background-color: #fbfbfb; margin-bottom: 20px; padding: 20px 30px 20px 30px; border-radius: 5px; }

.dashboard-graphs-keydata-card-image { margin-right: 20px; }

.dashboard-graphs-keydata-card-text p { font-weight: 700; font-size: 20px; margin-bottom: 5px; }

.dashboard-graphs-keydata-card-text h2 { font-weight: 500; font-size: 14px; }
