//Fonts
$font-primary: 'Roboto', sans-serif;

//Responsive design breakpoints
$breakpoint-desktop: 1024px;

//Corporate colours
$colour-font-primary: rgba(255, 1, 1, 1);
$colour-background-primary: rgba(255, 0, 0, 1);
$colour-font-secondary: rgba(0, 0, 0, 1);
$colour-background-secondary: rgba(40, 45, 48, 1);
$colour-font-navigation: white;
$colour-background-navigation: rgba(2, 2, 3, 1);

//Background colours
$colour-chart-background: rgba(251, 251, 251, 1);
$colour-chart-emphasis: rgba(196, 196, 196, 0.5);