.dashboard {
  padding: 40px;

  &-greeting {
    h1 {
      font-weight: 500;
      font-size: 48px;
    }

    span {
      color: $colour-font-primary;
    }

    p {
      padding-top: 20px;
      font-weight: 400;
      font-size: 18px;
    }
  }

  &-graphs {
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

    &-charts {
      height: 100%;
      width: 70%;

      &-activity {
        background-color: $colour-chart-background;
        border-radius: 5px;

        h2 {
          font-size: 15px;
          font-weight: 500;
          padding: 20px 0 0 20px;
        }
      }

      &-cards {
        margin-top: 20px;

        &-session_length {
          border-radius: 5px;
          background-color: $colour-background-primary;
          display: flex;
          flex-direction: column;
          width: 30%;
          height: 180px;

          h2 {
            font-size: 15px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.5);
            padding: 20px 50px 0 20px;
          }
        }
      }
    }

    &-keydata {
      &-card {
        display: flex;
        align-items: center;
        background-color: $colour-chart-background;
        margin-bottom: 20px;
        padding: 20px 30px 20px 30px;
        border-radius: 5px;

        &-image {
          margin-right: 20px;
        }

        &-text {
          p {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 5px;
          }

          h2 {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }

}