.error {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $colour-font-primary;

  &-code {
    font-weight: 600;
    font-size: 70px;
    margin-top: 200px;
  }

  &-message {
    font-weight: 300;
    font-size: 24px;
  }
}